---
name: Build Base Image

on:
  workflow_dispatch:
  push:
    paths:
      - docker/**
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Set env with Docker prefix
        run: echo "DOCKER_PREFIX="ghcr.io/${{ github.repository_owner }}"" >> $GITHUB_ENV

      - name: Set env with tag
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        run: |
          export RELEASE_VERSION=${GITHUB_REF#refs/tags/}
          echo "RELEASE_VERSION=$RELEASE_VERSION" >> $GITHUB_ENV
          echo "DOCKER_TAGS="$DOCKER_PREFIX/colmpc:base-$RELEASE_VERSION, $DOCKER_PREFIX/colmpc:base-latest"" >> $GITHUB_ENV
      - name: Set env with tag
        if: ${{ !startsWith(github.ref, 'refs/tags/v') }}
        run: |
          echo "RELEASE_VERSION=""" >> $GITHUB_ENV
          echo "DOCKER_TAGS="$DOCKER_PREFIX/colmpc:base-latest"" >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        # Push the latest image to registry only if running on main
        if: ${{ (github.ref == 'refs/heads/main') || startsWith(github.event.ref, 'refs/tags/v') }}
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        if: ${{ (github.ref != 'refs/heads/main') && !startsWith(github.event.ref, 'refs/tags/v') }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/base.Dockerfile
          tags: ${{ env.DOCKER_TAGS }}
          push: false

      - name: Build and Push Docker image
        if: ${{ (github.ref == 'refs/heads/main') || startsWith(github.event.ref, 'refs/tags/v') }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/base.Dockerfile
          tags: ${{ env.DOCKER_TAGS }}
          push: true
